[ req ]
default_bits = 4096
distinguished_name = TerribleHack_Blockchain_Co
prompt = no
string_mask = utf8only
x509_extensions = myexts

[ TerribleHack_Blockchain_Co ]
O = TerribleHack Blockchain Co
CN = TerribleHack Blockchain Co
emailAddress = terriblehack@example.com

[ myexts ]
basicConstraints=critical,CA:FALSE
keyUsage=digitalSignature
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid
